/**
 * partials/footer
 * ---
 */
 @import "modules/variables";


 .tnp-subscript {

    margin: 0 !important;
    
}

.footer {

    display: grid;
    background: $text-color; 
    color: $body-bg; 
    padding: 2.4rem 1.2rem;
    grid-template-columns: repeat(auto-fill, 1fr);

  


    .footer-design-element {max-width: 50rem; width: 100%; }

    .menu  {

        padding: 0; 

            li {
                a {
                    padding: 1.2rem 0;
                    text-decoration: none;
                }
            }
        }
    

    .footer-internal-wrapper {
        width: 100%; 
        max-width: $wrapper-width; 
        margin: 0 auto; 
        padding: 1.2rem; 
    }


    .social {
        ul {
            display: inline; 
        }
    }

    a {

        color: $body-bg; 
        text-decoration: underline;

        &:hover {

            text-decoration: none;
        }

    }


    .grid-item-1 {


        grid-area: 1 / 1 / 1 / 1;
    }
    
    .grid-item-2 {

        grid-area: 2 / 2 / 2 / 1;



    }
    
    .grid-item-3 {        
        
        text-align: center;
        padding: 1.2rem; 
        grid-area: 2 / 2 / 2 / 2;

}
    



}




@media (max-width: 72em) { 

    .footer {
        grid-template-columns: 1fr; 
    
    }  


    .grid-item-1 {


        grid-area: 1 / 1 / 1 / 1;
    }
    
    .grid-item-2 {

        grid-area: 2 / 2 / 2 / 2;



    }
    
    .grid-item-3 {        
        
        text-align: center;
        padding: 1.2rem; 
        grid-area: 3 / 3 / 3 / 3;

}




}