/**
 * partials/footer
 * ---
 */
 @import "modules/variables";


.footer {

    display: grid;
    background: $text-color; 
    color: $body-bg; 

    a {

        color: $body-bg; 
        text-decoration: underline;

        &:hover {

            text-decoration: none;
        }

    }
}
