/**
 * partials/footer
 * ---
 */
 @import "modules/variables";


 .tnp-subscript {

    margin: 0 !important;
    
}

.footer {

    display: grid;
    background: $text-color; 
    color: $body-bg; 
    grid-auto-rows: auto;
    padding: 2.4rem 1.2rem;


  


    .footer-design-element {max-width: 50rem; width: 100%; }

    .menu  {

        padding: 0; 

            li {
                a {
                    padding: 1.2rem 0;
                    text-decoration: none;
                }
            }
        }
    

    .footer-internal-wrapper {
        width: 100%; 
        max-width: $wrapper-width; 
        margin: 0 auto; 
        padding: 1.2rem; 
    }


    .social {
        ul {
            display: inline; 
        }
    }

    a {

        color: $body-bg; 
        text-decoration: underline;

        &:hover {

            text-decoration: none;
        }

    }


    .grid-item-1, .grid-item-2, .grid-item-3 .grid-item-4 {

        grid-row: auto;
 
 
    }

    .grid-item-3 {
        text-align: center;
        padding: 1.2rem; 
    }
    

}
