@import "modules/variables";


.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  width: 100%; 
  }

  .grid-row {

    grid-template-columns: 1fr;
    
  }


.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;


  
}

.title {grid-area: 1 / 1 / 1 / span 2 ;
max-width: $wrapper-width;
margin: 0 auto;
width: 100%; 
}

.col-1 {grid-area: 2 / 2 / 2 / 1; 
}
.col-2 {grid-area: 2 / 2 / 2 / 2; }


.wrapper > .title {

margin: 0; 

}



.col-wrapper {



.col-1 {grid-area: 1 / 1 / 1 / 1;

  p {
    max-width: 46rem; 
    width: 100%;
  }
}

.col-2 {grid-area: 1 / 2 / 1 / 2;

  p {
    max-width: 46rem; 
    width: 100%;
  }
}
}



// Top of home page 


.hero {


  padding: 0; 
  margin: 0; 
  top: -1.2rem;
  position: relative;
  display: grid;




}



.hero > .col-1 {


  margin: 0 auto; 
  max-width: $wrapper-width;
  grid-area: 1 / 1 / 1 / 1;
  width: 100%; 
   
  p {  max-width: 46rem;
  }


    .content {
      margin-top: 7.2rem;

    }

}

.hero > .col-2 {

  z-index: -1;
  grid-area: 1 / 1 / 1 / 1;

  img {

    aspect-ratio: 4 / 3;
    object-fit: contain;
  }

}


// second area 


.photo-area-wrapper {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  .card {

    aspect-ratio: 1 / 2;

   img {
    
    width: 100%;
    aspect-ratio: 1 / 2;
    object-fit: cover;
    }



  }

  .featured {
    
    img{
    width: 100%;
    aspect-ratio: 1 / 2;
    object-fit: cover;
  
  }

  }

  .first-row {
    grid-row: 1 / span 1;

  }

  .second-row {
    grid-row: 2 / span 1;

  }

}


// third row 



.grid-row-4 {



  .first-row {
    grid-row: 1 / span 1;

  }

  .second-row {
    grid-row: 2 / span 1;

  }

}



// Third Row Grid 

.grid-row-3 {

  .first-row {
    grid-area: 1 / 1 / 1 / 1;
    margin: 0 auto; 
    max-width: $wrapper-width;


  }

  .second-row {
    width: auto; 
    margin: 0 auto;
    grid-area: 2 / 2 / 2 / 1;
    display: flex;
    justify-content: center;
    


  }  
}

//
// 

// misc 



.cite-wrapper {
  width: 30rem; 
  margin: 0 auto; 
  padding: 1.2rem;


}



.sub-grid {
  display: grid;
}

.flex {
  display: flex;
}

.v-align {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.inline-flex {
  display: inline-flex; 
}

.box-wrap {
  flex-wrap: wrap;
}

.product-grid {
  display: grid;
  grid-template-row: 1fr 1fr 1fr ;
}

.card {

display: grid;

}

.card-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}



.grid-item-half {

  aspect-ratio: 2 / 1;
  width: 100%;

}

.inline {

  display: inline-flex;

  a {
    margin-right: 1.8rem; 
  }

}

// smaller than 600px 


// internal pages 


// internal pages mobile 


@media (max-width: 98em) {




  
  .hero > .col-1 {
  
    grid-area: 1 / 1 / 1 / 1;      
    p {  max-width: 46rem;
    }
  
  
      .content {
        margin-top: 7.2rem;
  
      }
  
  }
  .hero > .col-2 {
  
    grid-area: 1 / 1 / 1 / 1; 

    img {

      aspect-ratio: 4 / 1;
      object-fit: contain;
    }
   
  
  }




  .title {grid-area: 1 / 1 / 1 / span 2 ;
    max-width: $wrapper-width;
    margin: 0 auto;
    }
    
    .wrapper > .title {
    
    margin: 0; 
    
    }
    
    
    
    .col-1 {grid-area: 2 / 1 / 2 / 1;}
    
    .col-2 {grid-area: 3 / 1 / 3 / 1;}
    



  .featured  {

    grid-row: span 2;
    grid-column: span 2;
    aspect-ratio: 1 / 2;

    img {aspect-ratio: 1 / 2;}
  }

   .first-row {
    grid-row: auto;

  }

  .second-row {
    grid-row: auto;

  }


  .title {grid-area: 1 / 1 / 1 / span 2 ;
    max-width: $wrapper-width;
    margin: 0 auto;
    }
    
    .wrapper > .title {
    
    margin: 0; 
    
    }
    
    
    
    .col-1 {grid-area: 2 / 1 / 2 / 1;}
    
    .col-2 {grid-area: 3 / 1 / 3 / 1;}
    


.col-wrapper {


  .col-1 {grid-area: 2 / 2 / 2 / 1; 
  }
 
  .col-2 {grid-area: 1 / 1 / 1 / 1; 


}



}

}



@media (max-width: 42em) { 
  .hero > .col-2 {
  
    grid-area: 1 / 1 / 1 / 1; 

    img {

      aspect-ratio: 1 / 3;
      object-fit: contain;
    }
   
  
  }


}