/**
 * partials/header
 * ---
 */


// Header container
.header {
background: #FAFAFA; 
display: flex;

}

// Logo
.logo {

    max-width: 18rem;
    display: block;
    grid-area: 1 / 1 / 1 / 1; 
}

.logo-img {}


