/**
 * partials/header
 * ---
 */


// Header container
.header {
background: #FAFAFA; 
display: flex;

}

// Logo
.logo {

    max-width: 34.8rem;
    display: block;
}

.logo-img {}


.nav {

    display: flex;

    li {list-style: none;}

    

}