/**
 * partials/header
 * ---
 */


// Header container
.header {}

// Logo
.logo {

    max-width: 34.8rem;
    display: block;
}

.logo-img {}


.menu {

    display: flex;

    li {list-style: none;}

    

}