/**
 * partials/nav
 * ---
 * Menus
 */


.nav {

display: inline-flex;

}

.menu {

    ul {display: inline-flex;}

    li {list-style: none;

        a {
            padding: .6rem 1.2rem; 
            font-family: "kent", Arial, Helvetica, sans-serif;
            font-size: 2.2rem; 

            &:hover {

                background: #5BE498;
                text-decoration: none;
            }

        }
    
    }

}

.sub-menu {

    list-style: none;
}

.menu-item {

list-style: none;

}
