/**
 * partials/nav
 * ---
 * Menus
 */


.nav {

display: inline-flex;

}

.menu {

    ul {display: inline-flex;}

    li {list-style: none;}

}

.sub-menu {

    list-style: none;
}

.menu-item {

list-style: none;

}
