
.headline {}
.subhead {}
.card > .title {}


p,ul,ol,li {

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}



.button {  font-family: 'kent', Arial, Helvetica, sans-serif;
border-radius: .4rem;
}

.primary {

    font-size: 2.2rem; 
    padding: 2.4rem 1.2rem; 
    background: #000; 
    color: #fff;
    border: transparent .2rem solid;  

    &:hover {

        text-decoration: none;
        border: .2rem solid #000; 
        color: #000; 


    }
}

.secondary {

    font-size: 2.2rem; 
    padding: 2.4rem 1.2rem; 
    text-decoration: none;
    border: .2rem solid #000; 
    color: #000; 

    &:hover {

        background: #000; 
        color: #fff;
        border: black .2rem solid;  
    

}


}

