
.section-title {
    font-size: clamp(2.2rem, 8vw, 7.2rem);
    font-family: 'kent', Arial, Helvetica, sans-serif;


}

.sub-title {
    font-size: clamp(2rem, 3vw, 3.6rem);
    font-family: 'kent', Arial, Helvetica, sans-serif;


} 

.post-title {
    font-size: clamp(1.8rem, 1vw, 2rem);
    font-family: 'kent', Arial, Helvetica, sans-serif;

}

.pq {
    font-size: clamp(2rem, 3vw, 3.6rem);
    font-family: 'kent', Arial, Helvetica, sans-serif;
    padding-top: clamp(1rem, 2.4rem, 3.6rem); 
    padding-bottom: clamp(1rem, 2.4rem, 3.6rem); 
    padding-left: clamp(1.2rem, 2.4rem, 3.6rem); 
    padding-right: clamp(1rem, 2.4rem, 3.6rem); 


&::before {
    content: open-quote; 
    position: absolute;
    margin-left: -2.4rem;
    margin-top: -2.4rem;
    font-size: 6rem;  

}

&::after {

    content: close-quote;
    position: absolute;
    margin-left: 2.4rem;
    margin-top: 2.4rem;
    font-size: 6rem;  

}

}




.kent {
    font-family: 'kent', Arial, Helvetica, sans-serif;
}

.over-text {
    
    &::before {

        width: 10vw;
        height: 1px; 
        background: #444; 

    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'kent', Arial, Helvetica, sans-serif;
    margin: 0 0 1.2rem 0;
    padding: 0;
    line-height: 1;  
    
}


p,ul,ol,li {

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 1.6rem, 1.8rem);
  margin: 0 0 1.2rem 0;
  line-height: 1.35;

}


// button

.button {  
font-family: 'kent', Arial, Helvetica, sans-serif;
border-radius: .4rem;
display: block;
width: fit-content;

}

.primary {

    font-size: 2.2rem; 
    padding: 1.2rem 2.4rem; 
    background: #000; 
    color: #fff;
    border: transparent .2rem solid;  
    

    &:hover {

        text-decoration: none;
        border: .2rem solid #000; 
        color: #000; 
        background: transparent;
        


    }
}

.secondary {

    font-size: 2.2rem; 
    padding: 1.2rem 2.4rem; 
    text-decoration: none;
    border: .2rem solid #000; 
    color: #000; 

    &:hover {

        background: #000; 
        color: #fff;
        border: black .2rem solid;  
        text-decoration: none;
    }

}

.third {

    font-size: 1.6rem;
    padding: .4rem .8rem;
    border: .2rem solid #000; 
    color: #000; 

    &:hover {

        background: #000; 
        color: #fff;
        border: black .2rem solid;  
        text-decoration: none;
    }



}

