/**
 * partials/utils
 * ---
 * Utils classes
 */


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.reset-box {
  @include reset-box;
}


.circle {

  border-radius: 25rem;
}


.icon {
 
  .span {

    display: none; 

  }


.fa {}
.tw {}
.tk {}

}

.hero-image {

  aspect-ratio: 1 / 2;
}

@media (max-width: 72em) {

.hero-image {



  aspect-ratio: 3 / 4;



}
}

@media (max-width: 42em) {

  .hero-image {
  
    aspect-ratio: 1 / 1;

  
  
  
  }
  }