// front page layout 
@import "modules/variables";

.products {

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;

    li {

        list-style: none;
        a, img, span, li, div {
            grid-area:  1 / 1 / 1 / 1;
            list-style: none;
        }
    }
  

    .button {}

}

.woocommerce-LoopProduct-link  {}



// page layout 
.woo {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
    position: relative;

.woocommerce-product-gallery {            grid-area:  1 / 1 / 1 / 1;
}

.summary {            grid-area:  1 / 1 / 1 / 1;
}

.woocommerce-tabs {            grid-area:  1 / 1 / 1 / 1;
}

}

// sale button 

.onsale {
    position: absolute;
    padding: 0.6rem 1.2rem;
    background: $green;
    margin: 2.4rem 1.2rem;
    color: $black;
    font-size: 1.4rem;
    font-family: "kent", Arial, Helvetica, sans-serif;
    border-radius: 4rem;
    box-shadow: 10px 10px 50px #fff; 

}

.woocommerce-Price-amount {

    font-weight: bold;
    color: $purple; 
}


// img 

.attachment-woocommerce_thumbnail {

    border-radius: 1.2rem;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    margin-bottom: 1.6rem;
}