// front page layout 
@import "modules/variables";

.products {

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;

    li {

        list-style: none;
        a, img, span, li, div {
            grid-area:  1 / 1 / 1 / 1;
            list-style: none;
        }
    }
  

    .button {}

}

.woocommerce-LoopProduct-link  {}



// page layout 
.woo {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    position: relative;

.woocommerce-product-gallery {}

.summary {}

.woocommerce-tabs {}

}

// sale button 

.onsale {
    position: absolute;
    padding: 1.2rem 0.6rem;
    background: #232323;
    margin: 2.4rem 0rem;
    color: #fff;
    font-size: 1rem; 
    font-family: $kent;
}

.woocommerce-Price-amount {

    font-weight: bold;
    color: $purple; 
}


// img 

.attachment-woocommerce_thumbnail {

    border-radius: 1.2rem;
    aspect-ratio: 1 / 1.5;
    object-fit: contain;
}