/**
 * partials/wrapper
 * ---
 */
 $wrapper-width: 140rem;


.wrapper {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  grid-row-start: auto;
}


