/**
 * modules/fonts
 * ---
 * Declare fonts here
 */



@font-face {
  font-family: "kent";
  src: url("fonts/Kent-4F-Printed-Shadowed.eot");
  src: url("fonts/Kent-4F-Printed-Shadowed.eot?#iefix") format("embedded-opentype"),
    url("fonts/Kent-4F-Printed-Shadowed.woff") format("woff"),
    url("fonts/Kent-4F-Printed-Shadowed.ttf") format("truetype"),
    url("fonts/Kent-4F-Printed-Shadowed.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}


h1,h2,h3,h4,h5,h6 {

  font-family: "kent", Arial, Helvetica, sans-serif;

}

.headline {}
.subhead {}
.card > .title {}

