/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 41, variables.scss */
.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(2.8rem, 2fr));
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  margin-top: 1.6rem;
}

/* line 54, variables.scss */
.sub-grid {
  display: grid;
}

/* line 65, variables.scss */
.flex {
  display: flex;
}

/* line 68, variables.scss */
.v-align {
  align-items: center;
}
