/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #232323;
$body-bg: #f5f5f5;
$selection-bg: #04A4CC;
$white: #FAFAFA; 


/**
 * Grid
 */

$wrapper-width: 144rem;


$padding-horizontal-base: 6px;
$padding-vertical-base: 6px;
$margin-horizontal-base: 6px;
$margin-vertical-base: 6px;
$margin-horizontal-large: 12px;
$margin-vertical-large: 12px;

