/**
 * partials/footer
 * ---
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 8, ../css/sass/partials/footer.scss */
.footer {
  display: grid;
  background: #232323;
  color: #f5f5f5;
}
/* line 14, ../css/sass/partials/footer.scss */
.footer a {
  color: #f5f5f5;
  text-decoration: underline;
}
/* line 19, ../css/sass/partials/footer.scss */
.footer a:hover {
  text-decoration: none;
}
