/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 4, ../css/sass/partials/grid.scss */
.center-rail {
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
}

/* line 10, ../css/sass/partials/grid.scss */
.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
}

/* line 24, ../css/sass/partials/grid.scss */
.title {
  grid-area: 1/1/1/span 2;
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
}

/* line 30, ../css/sass/partials/grid.scss */
.col-1 {
  grid-area: 2 / 2 / 2 / 1;
}

/* line 32, ../css/sass/partials/grid.scss */
.col-2 {
  grid-area: 2 / 2 / 2 / 2;
}

/* line 35, ../css/sass/partials/grid.scss */
.wrapper > .title {
  margin: 0;
}

/* line 45, ../css/sass/partials/grid.scss */
.col-wrapper .col-1 {
  grid-area: 1 / 1 / 1 / 1;
}
/* line 47, ../css/sass/partials/grid.scss */
.col-wrapper .col-1 p {
  max-width: 46rem;
  width: 100%;
}
/* line 53, ../css/sass/partials/grid.scss */
.col-wrapper .col-2 {
  grid-area: 1 / 2 / 1 / 2;
}
/* line 55, ../css/sass/partials/grid.scss */
.col-wrapper .col-2 p {
  max-width: 46rem;
  width: 100%;
}

/* line 64, ../css/sass/partials/grid.scss */
.hero {
  padding: 0;
  margin: 0;
  top: -1.2rem;
  position: relative;
}

/* line 71, ../css/sass/partials/grid.scss */
.hero > .col-1 {
  grid-area: 1 / 1 / 1 / 1;
  width: 144rem;
  margin: 0 auto;
}
/* line 76, ../css/sass/partials/grid.scss */
.hero > .col-1 p {
  max-width: 46rem;
}
/* line 80, ../css/sass/partials/grid.scss */
.hero > .col-1 .content {
  margin-top: 7.2rem;
}

/* line 87, ../css/sass/partials/grid.scss */
.hero > .col-2 {
  grid-area: 1 / 1 / 1 / 1;
  z-index: -1;
}

/* line 95, ../css/sass/partials/grid.scss */
.photo-area-wrapper {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
/* line 100, ../css/sass/partials/grid.scss */
.photo-area-wrapper .card {
  aspect-ratio: 1 / 2;
}
/* line 104, ../css/sass/partials/grid.scss */
.photo-area-wrapper .card img {
  width: 100%;
  aspect-ratio: 1 / 2;
  object-fit: cover;
}
/* line 117, ../css/sass/partials/grid.scss */
.photo-area-wrapper .featured img {
  width: 100%;
  aspect-ratio: 1 / 2;
  object-fit: cover;
}
/* line 126, ../css/sass/partials/grid.scss */
.photo-area-wrapper .first-row {
  grid-row: 1 / span 1;
}
/* line 131, ../css/sass/partials/grid.scss */
.photo-area-wrapper .second-row {
  grid-row: 2 / span 1;
}

/* line 143, ../css/sass/partials/grid.scss */
.grid-row-4 .cite-wrapper {
  width: 30rem;
  margin: 0 auto;
  padding: 1.2rem;
  display: inline-flex;
}
/* line 152, ../css/sass/partials/grid.scss */
.grid-row-4 .first-row {
  grid-row: 1 / span 1;
}
/* line 157, ../css/sass/partials/grid.scss */
.grid-row-4 .second-row {
  grid-row: 2 / span 1;
}

@media (min-width: 60em) {
  /* line 167, ../css/sass/partials/grid.scss */
  .featured {
    grid-row: span 2;
    grid-column: span 2;
    aspect-ratio: 1 / 2;
  }
  /* line 173, ../css/sass/partials/grid.scss */
  .featured img {
    aspect-ratio: 1 / 2;
  }

  /* line 176, ../css/sass/partials/grid.scss */
  .first-row {
    grid-row: auto;
  }

  /* line 181, ../css/sass/partials/grid.scss */
  .second-row {
    grid-row: auto;
  }
}
/* line 194, ../css/sass/partials/grid.scss */
.grid-row-3 .first-row {
  grid-area: 1 / 1 / 1 / 1;
  margin: 0 auto;
  max-width: 144rem;
}
/* line 202, ../css/sass/partials/grid.scss */
.grid-row-3 .second-row {
  width: auto;
  margin: 0 auto;
  grid-area: 2 / 2 / 2 / 1;
  display: flex;
  justify-content: center;
}

/* line 215, ../css/sass/partials/grid.scss */
.sub-grid {
  display: grid;
}

/* line 219, ../css/sass/partials/grid.scss */
.flex {
  display: flex;
}

/* line 223, ../css/sass/partials/grid.scss */
.v-align {
  align-items: center;
}

/* line 227, ../css/sass/partials/grid.scss */
.h-center {
  justify-content: center;
}

/* line 231, ../css/sass/partials/grid.scss */
.inline-flex {
  display: inline-flex;
}

/* line 235, ../css/sass/partials/grid.scss */
.box-wrap {
  flex-wrap: wrap;
}

/* line 239, ../css/sass/partials/grid.scss */
.product-grid {
  display: grid;
  grid-template-row: 1fr 1fr 1fr;
}

/* line 244, ../css/sass/partials/grid.scss */
.card {
  display: grid;
}

/* line 250, ../css/sass/partials/grid.scss */
.card-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

/* line 258, ../css/sass/partials/grid.scss */
.grid-item-half {
  aspect-ratio: 2 / 1;
  width: 100%;
}

/* line 265, ../css/sass/partials/grid.scss */
.inline {
  display: inline-flex;
}
/* line 269, ../css/sass/partials/grid.scss */
.inline a {
  margin-right: 1.8rem;
}

@media (max-width: 60em) {
  /* line 279, ../css/sass/partials/grid.scss */
  .title {
    grid-area: 1/1/1/span 2;
    max-width: 144rem;
    margin: 0 auto;
  }

  /* line 284, ../css/sass/partials/grid.scss */
  .wrapper > .title {
    margin: 0;
  }

  /* line 292, ../css/sass/partials/grid.scss */
  .col-1 {
    grid-area: 2 / 1 / 2 / 1;
  }

  /* line 294, ../css/sass/partials/grid.scss */
  .col-2 {
    grid-area: 3 / 1 / 3 / 1;
  }
}
