/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 4, ../css/sass/partials/grid.scss */
.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
}

/* line 10, ../css/sass/partials/grid.scss */
.grid-row {
  grid-template-columns: 1fr;
}

/* line 19, ../css/sass/partials/grid.scss */
.content {
  padding: 0;
}

/* line 23, ../css/sass/partials/grid.scss */
.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
}

/* line 37, ../css/sass/partials/grid.scss */
.title {
  grid-area: 1/1/1/span 2;
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
}

/* line 43, ../css/sass/partials/grid.scss */
.col-1 {
  grid-area: 2 / 2 / 2 / 1;
}

/* line 45, ../css/sass/partials/grid.scss */
.col-2 {
  grid-area: 2 / 2 / 2 / 2;
}

/* line 48, ../css/sass/partials/grid.scss */
.wrapper > .title {
  margin: 0;
}

/* line 60, ../css/sass/partials/grid.scss */
.col-wrapper .col-1 {
  grid-area: 1 / 1 / 1 / 1;
}
/* line 62, ../css/sass/partials/grid.scss */
.col-wrapper .col-1 p {
  max-width: 44rem;
  width: 100%;
}
/* line 68, ../css/sass/partials/grid.scss */
.col-wrapper .col-2 {
  grid-area: 1 / 2 / 1 / 2;
}
/* line 70, ../css/sass/partials/grid.scss */
.col-wrapper .col-2 p {
  max-width: 44rem;
  width: 100%;
}

/* line 84, ../css/sass/partials/grid.scss */
.hero {
  padding: 0;
  margin: 0;
  top: -9.2rem;
  position: relative;
  display: grid;
}

/* line 100, ../css/sass/partials/grid.scss */
.hero > .col-1 {
  margin: 0 auto;
  max-width: 144rem;
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
}
/* line 110, ../css/sass/partials/grid.scss */
.hero > .col-1 p, .hero > .col-1 h1 {
  max-width: 44rem;
}
/* line 114, ../css/sass/partials/grid.scss */
.hero > .col-1 .content {
  margin-top: 13.2rem;
}

/* line 121, ../css/sass/partials/grid.scss */
.hero > .col-2 {
  z-index: -1;
  grid-area: 1 / 1 / 1 / 1;
}
/* line 127, ../css/sass/partials/grid.scss */
.hero > .col-2 img {
  object-fit: contain;
}

/* line 143, ../css/sass/partials/grid.scss */
.grid-row-2 {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  position: relative;
  margin-top: -33vh;
}
/* line 150, ../css/sass/partials/grid.scss */
.grid-row-2 .card {
  aspect-ratio: 1 / 2;
}
/* line 154, ../css/sass/partials/grid.scss */
.grid-row-2 .card img {
  width: 100%;
  aspect-ratio: 1 / 2;
  object-fit: cover;
}

/* line 176, ../css/sass/partials/grid.scss */
.grid-row-3 .first-row {
  grid-area: 1 / 1 / 1 / 1;
  margin: 0 auto;
  max-width: 144rem;
}
/* line 184, ../css/sass/partials/grid.scss */
.grid-row-3 .second-row {
  width: auto;
  margin: 0 auto;
  grid-area: 2 / 2 / 2 / 1;
  display: flex;
  justify-content: center;
}

/* line 211, ../css/sass/partials/grid.scss */
.grid-row-5 .card {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
}
/* line 219, ../css/sass/partials/grid.scss */
.grid-row-5 .card .card-item-image {
  grid-area: 1 / 1 / 7 / 7;
  border-radius: 1.2rem;
}
/* line 227, ../css/sass/partials/grid.scss */
.grid-row-5 .card .card-item-button {
  grid-area: 7 / 7 / 6 / 1;
  margin-top: 6rem;
  margin-left: 1.6rem;
}
/* line 235, ../css/sass/partials/grid.scss */
.grid-row-5 .card .card-item-text {
  grid-area: 1 / 1 / 1 / 3;
  padding: 1.6rem;
  color: #f5f5f5 !important;
  text-shadow: 1px 1px 8px rgba(35, 35, 35, 0.8);
}

/* line 254, ../css/sass/partials/grid.scss */
.grid-row-6 .first-row {
  grid-row: 1 / span 1;
}
/* line 259, ../css/sass/partials/grid.scss */
.grid-row-6 .second-row {
  grid-row: 2 / span 1;
}

/* line 277, ../css/sass/partials/grid.scss */
.cite-wrapper {
  width: 30rem;
  margin: 0 auto;
  padding: 1.2rem;
}

/* line 287, ../css/sass/partials/grid.scss */
.sub-grid {
  display: grid;
}

/* line 291, ../css/sass/partials/grid.scss */
.flex {
  display: flex;
}

/* line 295, ../css/sass/partials/grid.scss */
.v-align {
  align-items: center;
}

/* line 299, ../css/sass/partials/grid.scss */
.v-align-bottom {
  align-items: flex-end;
}

/* line 303, ../css/sass/partials/grid.scss */
.h-center {
  justify-content: center;
}

/* line 307, ../css/sass/partials/grid.scss */
.inline-flex {
  display: inline-flex;
}

/* line 311, ../css/sass/partials/grid.scss */
.box-wrap {
  flex-wrap: wrap;
}

/* line 315, ../css/sass/partials/grid.scss */
.product-grid {
  display: grid;
  grid-template-row: 1fr 1fr 1fr;
}

/* line 320, ../css/sass/partials/grid.scss */
.card {
  display: grid;
}

/* line 326, ../css/sass/partials/grid.scss */
.card-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

/* line 334, ../css/sass/partials/grid.scss */
.grid-item-half {
  aspect-ratio: 2 / 1;
  width: 100%;
}

/* line 341, ../css/sass/partials/grid.scss */
.inline {
  display: inline-flex;
}
/* line 345, ../css/sass/partials/grid.scss */
.inline a {
  margin-right: 1.8rem;
}

@media (max-width: 98em) {
  /* line 363, ../css/sass/partials/grid.scss */
  .content {
    padding: 1.6rem;
  }

  /* line 368, ../css/sass/partials/grid.scss */
  .hero {
    margin-top: 8.4rem;
    position: relative;
  }

  /* line 375, ../css/sass/partials/grid.scss */
  .hero > .col-1 {
    grid-area: 1 / 1 / 1 / 1;
  }
  /* line 379, ../css/sass/partials/grid.scss */
  .hero > .col-1 p {
    max-width: 44rem;
  }
  /* line 384, ../css/sass/partials/grid.scss */
  .hero > .col-1 .content {
    margin-top: 3.2rem;
    padding: 1.6rem;
  }

  /* line 391, ../css/sass/partials/grid.scss */
  .hero > .col-2 {
    grid-area: 1 / 1 / 1 / 1;
  }

  /* line 399, ../css/sass/partials/grid.scss */
  .grid-row-2 {
    position: relative;
    margin-top: -10vh;
  }

  /* line 407, ../css/sass/partials/grid.scss */
  .title {
    grid-area: 1/1/1/span 2;
    max-width: 144rem;
    margin: 0 auto;
  }

  /* line 412, ../css/sass/partials/grid.scss */
  .wrapper > .title {
    margin: 0;
  }

  /* line 420, ../css/sass/partials/grid.scss */
  .col-1 {
    grid-area: 2 / 1 / 2 / 1;
  }

  /* line 422, ../css/sass/partials/grid.scss */
  .col-2 {
    grid-area: 3 / 1 / 3 / 1;
  }

  /* line 427, ../css/sass/partials/grid.scss */
  .featured {
    grid-row: span 2;
    grid-column: span 2;
    aspect-ratio: 1 / 2;
  }
  /* line 433, ../css/sass/partials/grid.scss */
  .featured img {
    aspect-ratio: 1 / 2;
  }

  /* line 436, ../css/sass/partials/grid.scss */
  .first-row {
    grid-row: auto;
  }

  /* line 441, ../css/sass/partials/grid.scss */
  .second-row {
    grid-row: auto;
  }

  /* line 447, ../css/sass/partials/grid.scss */
  .title {
    grid-area: 1/1/1/span 2;
    max-width: 144rem;
    margin: 0 auto;
  }

  /* line 452, ../css/sass/partials/grid.scss */
  .wrapper > .title {
    margin: 0;
  }

  /* line 460, ../css/sass/partials/grid.scss */
  .col-1 {
    grid-area: 2 / 1 / 2 / 1;
  }

  /* line 462, ../css/sass/partials/grid.scss */
  .col-2 {
    grid-area: 3 / 1 / 3 / 1;
  }

  /* line 469, ../css/sass/partials/grid.scss */
  .col-wrapper .col-1 {
    grid-area: 2 / 2 / 2 / 1;
  }
  /* line 472, ../css/sass/partials/grid.scss */
  .col-wrapper .col-2 {
    grid-area: 1 / 1 / 1 / 1;
  }
}
