/**
 * partials/header
 * ---
 */
/* line 8, ../css/sass/partials/header.scss */
.header {
  background: #FAFAFA;
  display: flex;
}

/* line 15, ../css/sass/partials/header.scss */
.logo {
  max-width: 18rem;
  display: block;
  grid-area: 1 / 1 / 1 / 1;
}
