/**
 * partials/nav
 * ---
 * Menus
 */
/* line 9, ../css/sass/partials/nav.scss */
.menu ul {
  display: inline-flex;
}
/* line 11, ../css/sass/partials/nav.scss */
.menu li {
  list-style: none;
}
/* line 13, ../css/sass/partials/nav.scss */
.menu li a {
  padding: .6rem 1.2rem;
  font-family: "kent", Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #5BE498 100%);
  background-size: 100% 0rem;
  background-position: 0 44%;
  transition: background-size 0.25s ease-in;
  background-repeat: no-repeat;
}
/* line 26, ../css/sass/partials/nav.scss */
.menu li a:hover, .menu li a:focus {
  text-decoration: none;
  background-size: 100% 30%;
  background-position: 0 44%;
}

/* line 39, ../css/sass/partials/nav.scss */
.header {
  margin: 0 auto 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
}
/* line 48, ../css/sass/partials/nav.scss */
.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-shrink: 0;
}
/* line 54, ../css/sass/partials/nav.scss */
.header .logo img {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}
/* line 61, ../css/sass/partials/nav.scss */
.header a {
  border-bottom: none;
  color: #333;
  position: relative;
  padding: .5rem 0 .25rem;
  font-weight: 700;
}

@media screen and (min-width: 55rem) {
  /* line 71, ../css/sass/partials/nav.scss */
  .header {
    padding: 0;
    margin: 1rem auto;
    font-size: 1.15rem;
  }
  /* line 76, ../css/sass/partials/nav.scss */
  .header .logo {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  /* line 80, ../css/sass/partials/nav.scss */
  .header .logo img {
    width: 70px;
    height: 70px;
  }
}
/* ---------
 * Menu styles
 */
/* line 93, ../css/sass/partials/nav.scss */
.menu::before {
  content: "";
  position: fistxed;
  z-index: 1;
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .3s ease-out;
}

/* line 109, ../css/sass/partials/nav.scss */
.menu_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 0;
  background-color: #f2f2f2;
  transition: 0.4s;
  padding-top: 60px;
  visibility: hidden;
  transform: translateX(100%);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}
/* line 130, ../css/sass/partials/nav.scss */
.menu_list_inner {
  list-style: none;
  display: flex;
  flex-direction: inherit;
}

/* line 139, ../css/sass/partials/nav.scss */
.has-open-menu .menu::before {
  visibility: visible;
  opacity: 1;
}
/* line 143, ../css/sass/partials/nav.scss */
.has-open-menu .menu_list {
  transform: translateX(0);
  visibility: visible;
}

/* line 150, ../css/sass/partials/nav.scss */
.menu_button--close {
  position: absolute;
  top: 1rem;
  right: 1.75rem;
  font-size: 2.5rem;
}
/* line 156, ../css/sass/partials/nav.scss */
.menu_button--open {
  font-size: 2rem;
}

/* line 161, ../css/sass/partials/nav.scss */
.menu_item {
  padding: 0.7rem 0;
}

/* line 163, ../css/sass/partials/nav.scss */
.menu a {
  margin: 0 .75rem;
  border-bottom: 5px solid transparent;
  transition: border-bottom-color .3s ease-out;
}

/* line 169, ../css/sass/partials/nav.scss */
.menu a[aria-current],
.menu a:hover {
  border-bottom-color: var(--color-light);
}

@media screen and (min-width: 55rem) {
  /* line 175, ../css/sass/partials/nav.scss */
  .menu_list {
    max-width: 100%;
    height: auto;
    transform: translateX(0);
    visibility: visible;
    position: static;
    background-color: transparent;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0;
  }

  /* line 188, ../css/sass/partials/nav.scss */
  .has-open-menu .menu::before {
    display: none;
  }
  /* line 189, ../css/sass/partials/nav.scss */
  .has-open-menu .menu_list {
    transform: translateX(0);
    visibility: visible;
  }

  /* line 194, ../css/sass/partials/nav.scss */
  .menu_button {
    display: none;
  }

  /* line 196, ../css/sass/partials/nav.scss */
  .menu a {
    margin: 0 1.5rem;
  }

  /* line 198, ../css/sass/partials/nav.scss */
  .header {
    padding: 0;
    margin: 1rem auto;
    font-size: 1.15rem;
  }
  /* line 203, ../css/sass/partials/nav.scss */
  .header .logo {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  /* line 207, ../css/sass/partials/nav.scss */
  .header .logo img {
    width: 70px;
    height: 70px;
  }
}
