/**
 * partials/nav
 * ---
 * Menus
 */
/* line 8, ../css/sass/partials/nav.scss */
.nav {
  display: inline-flex;
  grid-area: 1 / 2 / 1 / 2;
}

/* line 16, ../css/sass/partials/nav.scss */
.menu ul {
  display: inline-flex;
}
/* line 18, ../css/sass/partials/nav.scss */
.menu li {
  list-style: none;
}
/* line 20, ../css/sass/partials/nav.scss */
.menu li a {
  padding: .6rem 1.2rem;
  font-family: "kent", Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #5BE498 100%);
  background-size: 100% 0rem;
  background-position: 0 44%;
  transition: background-size 0.25s ease-in;
  background-repeat: no-repeat;
}
/* line 33, ../css/sass/partials/nav.scss */
.menu li a:hover, .menu li a:focus {
  text-decoration: none;
  background-size: 100% 30%;
  background-position: 0 44%;
}

/* line 48, ../css/sass/partials/nav.scss */
.sub-menu {
  list-style: none;
}

/* line 53, ../css/sass/partials/nav.scss */
.menu-item {
  list-style: none;
}

/* line 58, ../css/sass/partials/nav.scss */
.main-navigation {
  clear: both;
  display: block;
  float: none;
  width: 100%;
  position: relative;
}

@media (min-width: 1000px) {
  /* line 67, ../css/sass/partials/nav.scss */
  .main-navigation {
    display: inline-block;
    float: right;
    width: auto;
  }
}
/* line 74, ../css/sass/partials/nav.scss */
.main-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
  z-index: 100;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s 0s ease-in-out;
  transition: max-height 0.3s 0s ease-in-out;
}

/* line 87, ../css/sass/partials/nav.scss */
.main-navigation ul ul {
  background-color: #e7e7e7;
}

@media (min-width: 1000px) {
  /* line 92, ../css/sass/partials/nav.scss */
  .main-navigation ul {
    max-height: inherit;
    overflow: visible;
  }

  /* line 96, ../css/sass/partials/nav.scss */
  .main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 60px;
    left: -999em;
    z-index: 99999;
  }

  /* line 104, ../css/sass/partials/nav.scss */
  .main-navigation ul ul ul {
    left: -999em;
    top: 0;
  }

  /* line 108, ../css/sass/partials/nav.scss */
  .main-navigation ul ul li {
    display: block;
    margin: 0;
  }

  /* line 112, ../css/sass/partials/nav.scss */
  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: 100%;
  }

  /* line 116, ../css/sass/partials/nav.scss */
  .main-navigation ul ul a {
    min-width: 100px;
    line-height: 40px;
  }
}
/* line 122, ../css/sass/partials/nav.scss */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

/* line 127, ../css/sass/partials/nav.scss */
.main-navigation li {
  display: block;
  position: relative;
  border-top: 1px solid #e7e7e7;
}

/* line 133, ../css/sass/partials/nav.scss */
.main-navigation li > a {
  padding: .3rem .6rem;
  font-family: "kent", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #5BE498 100%);
  background-size: 100% 0rem;
  background-position: 0 44%;
  transition: background-size 0.25s ease-in;
  background-repeat: no-repeat;
}
/* line 144, ../css/sass/partials/nav.scss */
.main-navigation li > a:hover, .main-navigation li > a:focus {
  text-decoration: none;
  background-size: 100% 30%;
  background-position: 0 44%;
}

/* line 157, ../css/sass/partials/nav.scss */
.main-navigation li:last-of-type {
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  /* line 162, ../css/sass/partials/nav.scss */
  .main-navigation li:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 1000px) {
  /* line 168, ../css/sass/partials/nav.scss */
  .main-navigation li {
    display: inline-block;
    border: none;
  }

  /* line 172, ../css/sass/partials/nav.scss */
  .main-navigation li + li {
    margin-left: 10px;
  }
}
/* line 177, ../css/sass/partials/nav.scss */
.main-navigation li.active a {
  background-color: red;
}

/* line 181, ../css/sass/partials/nav.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
  line-height: 40px;
}

@media (min-width: 1000px) {
  /* line 188, ../css/sass/partials/nav.scss */
  .main-navigation a {
    line-height: 60px;
    padding: 0;
  }
}
/* line 194, ../css/sass/partials/nav.scss */
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
  color: red;
}

/* line 201, ../css/sass/partials/nav.scss */
.sub-nav-toggle {
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  z-index: 200;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  text-indent: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1000px) {
  /* line 218, ../css/sass/partials/nav.scss */
  .sub-nav-toggle {
    top: 50%;
    margin-top: -10px;
    height: 20px;
    width: 18.00180018px;
  }
}
/* line 226, ../css/sass/partials/nav.scss */
.sub-nav-toggle:after {
  content: '';
  position: absolute;
  top: 16.6666666667px;
  left: 13.3333333333px;
  width: 0;
  height: 0;
  border: 6.6666666667px solid transparent;
  border-top-color: royalblue;
}

@media (min-width: 1000px) {
  /* line 238, ../css/sass/partials/nav.scss */
  .sub-nav-toggle:after {
    top: 8.6666666667px;
    left: 5.1282051282px;
    border-width: 4px;
  }

  /* line 243, ../css/sass/partials/nav.scss */
  .children .sub-nav-toggle:after {
    left: 8.3333333333px;
    top: 6.25px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
/* line 252, ../css/sass/partials/nav.scss */
.sub-nav-toggle.active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-color: #e7e7e7;
}

@media (min-width: 1000px) {
  /* line 260, ../css/sass/partials/nav.scss */
  .sub-nav-toggle.active {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 267, ../css/sass/partials/nav.scss */
.main-navigation.toggled ul.nav-menu {
  max-height: 1000px;
}

@media (min-width: 1000px) {
  /* line 272, ../css/sass/partials/nav.scss */
  .main-navigation.toggled ul.nav-menu {
    overflow: visible;
  }
}
/* line 277, ../css/sass/partials/nav.scss */
.page_item_has_children > a {
  padding-right: 40px;
}

@media (min-width: 1000px) {
  /* line 282, ../css/sass/partials/nav.scss */
  .page_item_has_children > a {
    padding-right: 18.00180018px;
  }
}
/* line 287, ../css/sass/partials/nav.scss */
.children {
  max-height: 0;
  overflow: hidden;
}

/* line 292, ../css/sass/partials/nav.scss */
.children.active {
  max-height: 1000px;
}

/* line 296, ../css/sass/partials/nav.scss */
.children li:first-of-type {
  margin-top: 0;
}

/* line 300, ../css/sass/partials/nav.scss */
.children li:last-of-type {
  margin-bottom: 0;
}

/* line 304, ../css/sass/partials/nav.scss */
.children a {
  white-space: nowrap;
}

/*--------------------------------------------------------------
## Hamburger menu
--------------------------------------------------------------*/
/* line 312, ../css/sass/partials/nav.scss */
button.menu-toggle {
  display: block;
  z-index: 9000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  float: right;
  position: relative;
  background-color: transparent;
  /* active state, i.e. menu open */
}

@media (min-width: 1000px) {
  /* line 336, ../css/sass/partials/nav.scss */
  button.menu-toggle {
    display: none;
  }
}
/* line 341, ../css/sass/partials/nav.scss */
button.menu-toggle:focus {
  outline: none;
}

/* line 345, ../css/sass/partials/nav.scss */
button.menu-toggle:hover, button.menu-toggle:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

/* line 351, ../css/sass/partials/nav.scss */
button.menu-toggle.is-active span {
  background-color: teal;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

/* line 358, ../css/sass/partials/nav.scss */
button.menu-toggle.is-active span::before {
  background-color: teal;
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 366, ../css/sass/partials/nav.scss */
button.menu-toggle.is-active span::after {
  background-color: transparent;
  bottom: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 374, ../css/sass/partials/nav.scss */
button.menu-toggle.is-active span::before,
button.menu-toggle.is-active span::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 380, ../css/sass/partials/nav.scss */
button.menu-toggle span {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 392, ../css/sass/partials/nav.scss */
button.menu-toggle span::before, button.menu-toggle span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 404, ../css/sass/partials/nav.scss */
button.menu-toggle span::before {
  top: -9px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

/* line 412, ../css/sass/partials/nav.scss */
button.menu-toggle span::after {
  bottom: -9px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

/* line 422, ../css/sass/partials/nav.scss */
.site-header {
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: .3rem;
}

/* line 435, ../css/sass/partials/nav.scss */
.site-navbar {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 999;
  background: #fff;
}

@media (min-width: 80em) {
  /* line 449, ../css/sass/partials/nav.scss */
  .site-navbar {
    max-width: 800px;
  }

  /* line 455, ../css/sass/partials/nav.scss */
  .site-header, .site-navbar {
    position: sticky;
  }
}
@media (min-width: 100em) {
  /* line 462, ../css/sass/partials/nav.scss */
  .site-navbar, .site-navbar {
    max-width: 144rem;
  }

  /* line 465, ../css/sass/partials/nav.scss */
  .site-header {
    position: sticky;
  }
}
/* line 471, ../css/sass/partials/nav.scss */
.site-branding {
  display: inline-block;
}

/* line 475, ../css/sass/partials/nav.scss */
.site-title {
  font-size: 20px;
  line-height: 60px;
  font-weight: 300;
}

/* line 481, ../css/sass/partials/nav.scss */
.site-title a {
  text-decoration: none;
}
