/* line 2, ../css/sass/partials/type.scss */
p, ul, ol, li {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 1.6rem, 1.8rem);
}

/* line 11, ../css/sass/partials/type.scss */
.button {
  font-family: 'kent', Arial, Helvetica, sans-serif !important;
  border-radius: .4rem;
  display: block;
  width: fit-content;
}

/* line 18, ../css/sass/partials/type.scss */
.primary {
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  background: #000;
  color: #fff;
  border: transparent .2rem solid;
}
/* line 27, ../css/sass/partials/type.scss */
.primary:hover {
  text-decoration: none;
  border: .2rem solid #000;
  color: #000;
  background: transparent;
}

/* line 39, ../css/sass/partials/type.scss */
.secondary {
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  border: .2rem solid #000;
  color: #000;
}
/* line 47, ../css/sass/partials/type.scss */
.secondary:hover {
  background: #000;
  color: #fff;
  border: black .2rem solid;
  text-decoration: none;
}

/* line 57, ../css/sass/partials/type.scss */
.third {
  font-size: 1.6rem;
  padding: .4rem .8rem;
  border: .2rem solid #000;
  color: #000;
}
/* line 64, ../css/sass/partials/type.scss */
.third:hover {
  background: #000;
  color: #fff;
  border: black .2rem solid;
  text-decoration: none;
}
