/* line 1, ../css/sass/partials/type.scss */
.title >
.section-title {
  border-bottom: #444 1.2rem solid;
  padding-bottom: 12rem;
  margin-bottom: 12rem;
  margin-top: 12rem;
}

/* line 13, ../css/sass/partials/type.scss */
.section-title {
  font-size: clamp(2.2rem, 8vw, 7.2rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  letter-spacing: -.1rem;
}

/* line 20, ../css/sass/partials/type.scss */
.sub-title {
  font-size: clamp(2rem, 3vw, 3.6rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  letter-spacing: -.1rem;
}

/* line 28, ../css/sass/partials/type.scss */
.post-title {
  font-size: clamp(1.8rem, 1vw, 2rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  letter-spacing: -.1rem;
}

/* line 35, ../css/sass/partials/type.scss */
.pq {
  font-size: clamp(2rem, 3vw, 3.6rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  padding-top: clamp(1rem, 2.4rem, 3.6rem);
  padding-bottom: clamp(1rem, 2.4rem, 3.6rem);
  padding-left: clamp(1.2rem, 2.4rem, 3.6rem);
  padding-right: clamp(1rem, 2.4rem, 3.6rem);
  letter-spacing: -.1rem;
}
/* line 46, ../css/sass/partials/type.scss */
.pq::before {
  content: open-quote;
  position: absolute;
  margin-left: -3.6rem;
  margin-top: -3.6rem;
  font-size: 6rem;
}
/* line 55, ../css/sass/partials/type.scss */
.pq::after {
  content: close-quote;
  position: absolute;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
  font-size: 6rem;
}

/* line 70, ../css/sass/partials/type.scss */
.kent {
  font-family: 'kent', Arial, Helvetica, sans-serif;
}

/* line 76, ../css/sass/partials/type.scss */
.over-text::before {
  width: 10vw;
  height: 1px;
  background: #444;
}

/* line 85, ../css/sass/partials/type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'kent', Arial, Helvetica, sans-serif;
  margin: 0 0 1.2rem 0;
  padding: 0;
  line-height: 1;
  letter-spacing: -.1rem;
}

/* line 95, ../css/sass/partials/type.scss */
p, ul, ol, li {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 1.6rem, 1.8rem);
  margin: 0 0 1.2rem 0;
  line-height: 1.35;
  letter-spacing: -.1rem;
}

/* line 109, ../css/sass/partials/type.scss */
.button {
  font-family: 'kent', Arial, Helvetica, sans-serif;
  border-radius: .4rem;
  display: block;
  width: fit-content;
}

/* line 117, ../css/sass/partials/type.scss */
.primary {
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  background: #000;
  color: #fff;
  border: transparent .2rem solid;
}
/* line 126, ../css/sass/partials/type.scss */
.primary:hover {
  text-decoration: none;
  border: .2rem solid #000;
  color: #000;
  background: transparent;
}

/* line 138, ../css/sass/partials/type.scss */
.secondary {
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  border: .2rem solid #000;
  color: #000;
}
/* line 146, ../css/sass/partials/type.scss */
.secondary:hover {
  background: #000;
  color: #fff;
  border: black .2rem solid;
  text-decoration: none;
}

/* line 156, ../css/sass/partials/type.scss */
.third {
  font-size: 1.6rem;
  padding: .4rem .8rem;
  border: .2rem solid #000;
  color: #000;
}
/* line 163, ../css/sass/partials/type.scss */
.third:hover {
  background: #000;
  color: #fff;
  border: black .2rem solid;
  text-decoration: none;
}
