/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 3, ../css/sass/partials/type.scss */
.title >
.section-title {
  border-bottom: #232323 1.2rem solid;
  padding-bottom: 12rem;
  margin-bottom: 12rem;
  margin-top: 12rem;
}

/* line 15, ../css/sass/partials/type.scss */
.section-title {
  font-size: clamp(2.2rem, 8vw, 7.2rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  letter-spacing: -.1rem;
}

/* line 22, ../css/sass/partials/type.scss */
.sub-title {
  font-size: clamp(2rem, 3vw, 3.6rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  letter-spacing: -.1rem;
}

/* line 30, ../css/sass/partials/type.scss */
.post-title {
  font-size: clamp(1.8rem, 1vw, 2rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  letter-spacing: -.1rem;
}

/* line 37, ../css/sass/partials/type.scss */
.pq {
  font-size: clamp(2rem, 3vw, 3.6rem);
  font-family: 'kent', Arial, Helvetica, sans-serif;
  padding-top: clamp(1rem, 2.4rem, 3.6rem);
  padding-bottom: clamp(1rem, 2.4rem, 3.6rem);
  padding-left: clamp(1.2rem, 2.4rem, 3.6rem);
  padding-right: clamp(1rem, 2.4rem, 3.6rem);
  letter-spacing: -.1rem;
}
/* line 48, ../css/sass/partials/type.scss */
.pq::before {
  content: open-quote;
  position: absolute;
  margin-left: -3.6rem;
  margin-top: -3.6rem;
  font-size: 6rem;
}
/* line 57, ../css/sass/partials/type.scss */
.pq::after {
  content: close-quote;
  position: absolute;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
  font-size: 6rem;
}

/* line 72, ../css/sass/partials/type.scss */
.kent {
  font-family: 'kent', Arial, Helvetica, sans-serif;
}

/* line 78, ../css/sass/partials/type.scss */
.over-text::before {
  width: 10vw;
  height: 1px;
  background: #232323;
}

/* line 87, ../css/sass/partials/type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'kent', Arial, Helvetica, sans-serif;
  margin: 0 0 1.2rem 0;
  padding: 0;
  line-height: 1;
  letter-spacing: -.1rem;
}

/* line 97, ../css/sass/partials/type.scss */
p, ul, ol, li {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 1.6rem, 1.8rem);
  margin: 0 0 1.2rem 0;
  line-height: 1.35;
  letter-spacing: -.1rem;
}

/* line 111, ../css/sass/partials/type.scss */
.button {
  font-family: 'kent', Arial, Helvetica, sans-serif;
  border-radius: 2.8rem;
  display: flex;
  width: fit-content;
  align-items: center;
  text-align: center;
  margin-top: 1.6rem;
}
/* line 120, ../css/sass/partials/type.scss */
.button:focus {
  text-decoration: none;
}

/* line 126, ../css/sass/partials/type.scss */
.primary {
  font-size: 1.8rem;
  padding: 1.2rem 3.6rem;
  background: #634e87;
  color: #fff;
  border: transparent .2rem solid;
  height: 5.6rem;
}
/* line 136, ../css/sass/partials/type.scss */
.primary:hover {
  text-decoration: none;
  border: 0.2rem solid #232323;
  color: #232323;
  background: transparent;
}
/* line 147, ../css/sass/partials/type.scss */
.primary:focus {
  text-decoration: none;
  border: 0.2rem solid #634e87;
}

/* line 156, ../css/sass/partials/type.scss */
.secondary {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  border: 0.2rem solid #232323;
  color: #232323;
  height: 4rem;
}
/* line 166, ../css/sass/partials/type.scss */
.secondary:hover {
  background: #232323;
  color: #fff;
  border: #232323 0.2rem solid;
  text-decoration: none;
}

/* line 176, ../css/sass/partials/type.scss */
.third {
  font-size: 1.6rem;
  padding: .4rem 2rem;
  border: .2rem solid #f5f5f5;
  color: #232323;
  height: 4rem;
  display: block;
  background: #f5f5f5;
}
/* line 186, ../css/sass/partials/type.scss */
.third:hover {
  background: #232323;
  color: #f5f5f5;
  border: #232323 0.2rem solid;
  text-decoration: none;
}

/* line 199, ../css/sass/partials/type.scss */
.fourth {
  font-size: 1.4rem;
  padding: .4rem .8rem;
  border: 0.2rem solid #232323;
  color: #232323;
  height: 3.6rem;
}
/* line 207, ../css/sass/partials/type.scss */
.fourth:hover {
  background: #232323;
  color: #fff;
  border: black .2rem solid;
  text-decoration: none;
}

/* line 220, ../css/sass/partials/type.scss */
.text-center {
  text-align: center;
}
