/**
 * partials/utils
 * ---
 * Utils classes
 */
/* line 10, ../css/sass/partials/utils.scss */
.circle {
  border-radius: 25rem;
}

/* line 18, ../css/sass/partials/utils.scss */
.icon .span {
  display: none;
}

/* line 33, ../css/sass/partials/utils.scss */
.hideme {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* line 38, ../css/sass/partials/utils.scss */
.hideme:nth-child(1) {
  opacity: 1 !important;
}

/* line 41, ../css/sass/partials/utils.scss */
.hideme:nth-child(2) {
  opacity: 1 !important;
}

/* line 45, ../css/sass/partials/utils.scss */
.radius {
  border-radius: 1.2rem;
}

/* line 50, ../css/sass/partials/utils.scss */
.bg-white {
  background: #fff;
}

/* line 53, ../css/sass/partials/utils.scss */
.bg-shadow {
  -webkit-box-shadow: 0px 0px 30px 13px rgba(35, 35, 35, 0.38);
  box-shadow: 0px 0px 30px 13px rgba(35, 35, 35, 0.38);
}

/* line 61, ../css/sass/partials/utils.scss */
img.lazy {
  opacity: 0;
}

/* line 64, ../css/sass/partials/utils.scss */
img:not(.initial) {
  transition: opacity 1s;
}

/* line 67, ../css/sass/partials/utils.scss */
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

/* line 73, ../css/sass/partials/utils.scss */
img:not([src]) {
  visibility: hidden;
}
