/**
 * partials/utils
 * ---
 * Utils classes
 */
/* line 10, ../css/sass/partials/utils.scss */
.circle {
  border-radius: 25rem;
}

/* line 18, ../css/sass/partials/utils.scss */
.icon .span {
  display: none;
}

/* line 33, ../css/sass/partials/utils.scss */
.hideme {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
