/* line 3, ../css/sass/partials/woocommerce.scss */
.products {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
}
/* line 14, ../css/sass/partials/woocommerce.scss */
.products li {
  list-style: none;
}
/* line 17, ../css/sass/partials/woocommerce.scss */
.products li a, .products li img, .products li span, .products li li, .products li div {
  grid-area: 1 / 1 / 1 / 1;
  list-style: none;
}

/* line 33, ../css/sass/partials/woocommerce.scss */
.woo {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  position: relative;
}

/* line 49, ../css/sass/partials/woocommerce.scss */
.onsale {
  position: absolute;
}

/* line 56, ../css/sass/partials/woocommerce.scss */
.attachment-woocommerce_thumbnail {
  border-radius: 1.2rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
