/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 4, ../css/sass/partials/woocommerce.scss */
.products {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
}
/* line 15, ../css/sass/partials/woocommerce.scss */
.products li {
  list-style: none;
}
/* line 18, ../css/sass/partials/woocommerce.scss */
.products li a, .products li img, .products li span, .products li li, .products li div {
  grid-area: 1 / 1 / 1 / 1;
  list-style: none;
}

/* line 34, ../css/sass/partials/woocommerce.scss */
.woo {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
  position: relative;
}
/* line 40, ../css/sass/partials/woocommerce.scss */
.woo .woocommerce-product-gallery {
  grid-area: 1 / 1 / 1 / 1;
}
/* line 43, ../css/sass/partials/woocommerce.scss */
.woo .summary {
  grid-area: 1 / 1 / 1 / 1;
}
/* line 46, ../css/sass/partials/woocommerce.scss */
.woo .woocommerce-tabs {
  grid-area: 1 / 1 / 1 / 1;
}

/* line 53, ../css/sass/partials/woocommerce.scss */
.onsale {
  position: absolute;
  padding: 0.6rem 1.2rem;
  background: #5be397;
  margin: 2.4rem 1.2rem;
  color: #232323;
  font-size: 1.2rem;
  font-family: "kent", Arial, Helvetica, sans-serif;
  border-radius: 4rem;
  box-shadow: 10px 10px 50px #fff;
}

/* line 66, ../css/sass/partials/woocommerce.scss */
.woocommerce-Price-amount {
  font-weight: bold;
  color: #634e87;
}

/* line 75, ../css/sass/partials/woocommerce.scss */
.attachment-woocommerce_thumbnail {
  border-radius: 1.2rem;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  margin-bottom: 1.6rem;
}
