/**
 * partials/wrapper
 * ---
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 11, ../css/sass/partials/wrapper.scss */
.wrapper {
  max-width: 140rem;
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
}

/* line 18, ../css/sass/partials/wrapper.scss */
.grid {
  display: grid;
  grid-row-start: auto;
}
